.menu-spacer {
    flex: 1 1 ;
  }

  .title{
      font-size: 23px;
      font-family: sans-serif;
      font-weight: bold;

  }
  .menu-items{
      font-family: sans-serif;
      font-weight: bold;
  }